<li>
  <div class="product-image">
    <img src="{{URL}}/assets/images/product/tenis-runner-bolt.png" layout="responsive" width="164" height="145"
      alt="Tênis Runner Bolt" />
  </div>
  <div class="product-info">
    <div class="product-name"><span>{{name}}</span></div>
    <div class="product-price"><span class="special-price">{{quantity}} {{avaiable}}</span> <span>R${{price}}</span></div>
  </div>
</li>