
<tr class="data-row">
    <td class="data-grid-td">
       <span class="data-grid-cell-content">{{name}}</span>
    </td>
  
    <td class="data-grid-td">
       <span class="data-grid-cell-content">{{sku}}</span>
    </td>

    <td class="data-grid-td">
       <span class="data-grid-cell-content">R$ {{price}}</span>
    </td>

    <td class="data-grid-td">
       <span class="data-grid-cell-content">{{quantity}}</span>
    </td>

    <td class="data-grid-td">
       <span class="data-grid-cell-content"> {{productHasCategories}} </span>
    </td>
  
    <td class="data-grid-td">
      <div class="actions">
        <div class="action edit"  ><a href="{{URL}}/editProduct/id={{id}}" ><span>Edit</span></a></div>
        <div class="action delete"><a href="{{URL}}/deleteProduct/id={{id}}" ><span>Delete</span></a></div>
      </div>
    </td>
  </tr>