<tr class="data-row">
    <td class="data-grid-td">
        <span class="data-grid-cell-content">{{name}}</span>
    </td>
    <td class="data-grid-td">
        <span class="data-grid-cell-content">{{code}}</span>
    </td>
    <td class="data-grid-td">
        <div class="actions">
            <div class="action edit"><span>Edit</span></div>
            <div class="action delete"><span>Delete</span></div>
        </div>
    </td>
</tr>