<!-- Main Content -->
<main class="content">
  <h1 class="title new-item">New Category</h1>
  
  <form method="POST">
    <div class="input-field">
      <label for="category-name" class="label">Category Name</label>
      <input type="text" id="category-name" class="input-text" name="name" />
      
    </div>
    <div class="input-field">
      <label for="category-code" class="label">Category Code</label>
      <input type="text" id="category-code" class="input-text" name="code" />
      
    </div>
    <div class="actions-form">
      <a href="{{URL}}" class="action back">Back</a>
      <input class="btn-submit btn-action"  type="submit" value="Save" />
    </div>
  </form>
</main>
<!-- Main Content -->