
<!doctype html>
<html ⚡>
  <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Dashboard</h1>
    </div>
    <div class="infor">
      You have {{totalAmount}} products added on this store: <a href="{{URL}}/formAddProduct" class="btn-action">Add new Product</a>
    </div>
    <ul class="product-list">
      {{itens}}
    </ul>
  </main>
  <!-- Main Content -->
</html>
