 <!-- Footer -->
 <footer>
	<div class="footer-image">
	  <img src="{{URL}}/assets/images/go-jumpers.png" width="119" height="26" alt="Go Jumpers" />
	</div>
	<div class="email-content">
	  <span>go@jumpers.com.br</span>
	</div>
</footer>
 <!-- Footer -->